#top
  %a{:href => "/", :title => ""}
    =image_tag("logo.png", :style => "padding-left:50px;")
  #menu
    %ul
      %li
        %a{:href => ""}
          КОЛЛЕКЦИЯ 2011
          %ul.submenu
            %li
              %a{:href => ""} ЛЕТО
            %li
              %a{:href => ""} ОСЕНЬ
            %li
              %a{:href => ""} ЗИМА
            %li
              %a{:href => ""} ВЕСНА
  .social
    %ul
      %li
        %a{:href => 'htto://www.facebook.com/', :target => '_blank'}
        =image_tag "facebook.png", :alt => 'Find us on facebook'
      %li
        %a{:href => 'htto://www.twitter.com/', :target => '_blank'}
        =image_tag "twitter.png", :alt => 'Find us on twitter'
      %li
        %a{:href => 'htto://www.youtube.com/', :target => '_blank'}
        =image_tag "youtube.png", :alt => 'Find us on YouTube'
#content
  .space
  #left_pane
    .logo
      =image_tag "zegna_logo.png"
    .vert_menu
      %ul
        %li
          %a.active{:href => "index2.html", :title => ""} Костюмы
        %li
          %a{:href => "index.html", :title => ""} Рубашки
        %li
          %a{:href => "index.html", :title => ""} Обувь
        %li
          %a{:href => "index.html", :title => ""} Пальто
        %li
          %a{:href => "index.html", :title => ""} Аксессуары
        %li
          %a{:href => "index.html", :title => ""} Прочее
  #catalog
    .catalog_header
      .catalog_name
        %h1 Коллекция 2011
      .collections
        %ul
          %li
            %a{:href => "", :title => ""} Коллекция 2010
          %li
            %a{:href => "", :title => ""} Коллекция 2009
          %li
            %a{:href => "", :title => ""} Коллекция 2008
          %li
            %a{:href => "", :title => ""} Смотреть всё
    .catalog_items
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .item_box
        %a{:href => "", :title => ""}
          =image_tag "item.png"
          .price_txt Цена:
          .price 3080 $
      .free_space  
      
/ end of content