=render @boutique

= content_for :categories do
	%ul
		%li
			%a.active{:href => "index2.html", :title => ""} Костюмы
		%li
			%a{:href => "index.html", :title => ""} Рубашки
		%li
			%a{:href => "index.html", :title => ""} Обувь
		%li
			%a{:href => "index.html", :title => ""} Пальто
		%li
			%a{:href => "index.html", :title => ""} Аксессуары
		%li
			%a{:href => "index.html", :title => ""} Прочее