#footer
	#footer_button
		%div{:style => "padding-right:30px"}
			Координаты & Контакты
			%span{:style => "font-size:8px;"} &#9660;
	#footer_higher
		#footer_content
			-for bout in @boutiques
				.footbox
					= bout.name 
					%br/
					= bout.address
					%br/
					= bout.phone
					%br/
					= link_to "map"
			.clear
