#footer
	#footer_button
		%div{:style => "padding-right:30px"}
			Координаты & Контакты
			%span
	#footer_higher
		#footer_content
			-for bout in @boutiques
				.footbox
					%strong= bout.name
					%br/
					= bout.address
					%br/
					= my_number_to_phone(bout.phone, :area_code => true)
					%br/
					= link_to "map"
			.clear
